.profile-section {
  background: #ffffff;
  background-image: url(../assets/images/profile-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #181818;
}

.profile-section__user-avatar {
  margin-top: 20%;
}

.profile-section__username {
  margin-top: 1rem;
}

.profile-section__user-about {
  font-size: 0.7rem;
  line-height: 1.5;
  margin-top: 0.6rem;
}
