html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f7f9fb;
}

.main {
  padding-top: 7.5rem;
}

.container {
  margin: 0 auto;
  /*padding: 0 15px;*/
  max-width: 84%;
}

.main-container {
  display: flex;
  column-gap: 2.5rem;
}

.main-content {
  min-width: 71%;
}