html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f7f9fb;
}

h3 {
  font-size: 0.9rem;
  font-weight: 700;
}

.section-title {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main {
  padding-top: 7.5rem;
}

.container {
  margin: 0 auto;
  /*padding: 0 15px;*/
  max-width: 84%;
}

.main-container {
  display: flex;
  column-gap: 2.5rem;
}

.normal-button {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  border-radius: 4px;
  padding: 0.55rem;
}

.transparent-button {
  background: transparent;
  text-transform: uppercase;
  color: #0275b1;
  font-size: 0.75rem;
  font-weight: 700;
}

.main-content {
  min-width: 71%;
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.section-line {
  margin-top: 1.25rem;
  border: 1px solid #f4f4f4;
}

.write-new-article {
  background: #ffffff;
  padding: 1.5rem 2rem;
}

.write-new-article__button {
  font-size: 0.75rem;
  font-weight: 700;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
}
